.Header, .Header .Logo {
  text-align: left;
}

.Header {
  margin: 50px 0 80px;
  height: 262px;
}

.Header .Logo {
  margin-bottom: 36px;
}

.description {
  font-family: 'Lexend';
  font-weight: 400;
  font-size: 70px;
  line-height: 87.5px;
  margin: 0;
}

.header-button {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 254px;
  height: 66px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: 'Lexend';
  font-size: 20px;
  outline: none;
}