button:hover:not(:disabled) {
  opacity: 0.8;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-Regular.ttf') format('truetype');
}
